@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  background-color:#F6F6F7;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  color: #0070f3;
  cursor: pointer;
}

button{
  cursor: pointer;
  transition: all 0.35s;

}
.content_bg_black {
  background-image: url('../public/img/img_black_background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.content_bg_footer {
  background-image: url('../public/img/img_background_footer.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.change-rotate{
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
  transform: rotate(360deg);
  transition-duration: 5s;
}

.click-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  line-height: 35px;
  border: 1px solid;
  border-radius: 6px;
  text-align: center;
  font-size: 16px;
  color: #000;
  text-decoration: none;
  transition: all 0.35s;
  box-sizing: border-box;
}


//hover button style
.btn-style505 {
  $btn-color: #5e5e5e;
  $btn-hover-color: #0070f3;
  position: relative;
  background-color: $btn-color;
  border-color: $btn-color;
  color: #fff;
  overflow: hidden;
  &::before,
  &::after {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100px) skewX(-15deg);
    content: "";
  }
  &::before {
    width: 60px;
    background: rgba(255, 255, 255, 0.5);
    filter: blur(30px);
    opacity: 0.5;
  }
  &::after {
    width: 30px;
    left: 30px;
    background: rgba(255, 255, 255, 0.2);
    filter: blur(5px);
  }
  &:hover {
    background-color: $btn-hover-color;
    border-color: $btn-hover-color;
    &::before {
      opacity: 1;
    }
    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: all 0.9s ease;
    }
  }
}

//hover button style
.btn-style902 {
  position: relative;
  border-color: #dd6395;
  background-color: #dd6395;
  color: #fff;
  overflow: hidden;
span[data-name="hover"] {
  display: inline-block;
  transition: all 0.25s;
  transform: translate(0, 0);
}
span[data-name="me"] {
  margin-left: 0.25em;
  transition: all 0.25s;
  opacity: 1;
}
.block {
  width: 20%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -30%;
  background-color:   #1030a0;
  border-radius: 0 200% 200% 0;
  transition: all 0.25s;
  z-index: 1;
span {
  display: block;
&::before {
  content: ">";
 }
}
}
&:hover {
span[data-name="me"] {
  opacity: 0;
}
span[data-name="hover"] {
  transition-delay: 0.2s;
  transform: translate(3.5em, 0);
}
.block {
  transition-delay: 0.2s;
  left: 0;
}
}
}
a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
* {
  box-sizing: border-box;
}

//custom scroll bar
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.active-href{
  border-left: 4px solid #18A0FB;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background-color:#F6F6F7;
  }
}
